.add-review-container {
  padding-top: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

.addReview-page-h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: rgb(34, 47, 45);
}

.addReview-form-wrapper {
  display: grid;
  place-items: center;
  grid-gap: 10px;
}

.post-review-wrapper {
  display: grid;
  justify-items: center;
  padding: 15px;
}

.post-review-button {
  padding: 10px 40px;
  border-radius: 5px;
  border: 0;
  background-color: #53a403;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
