header {
  display: grid;
}

.top-top-header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr 0.2fr;
  align-items: center;
  background-color: #f1f3f3;
  padding-bottom: 10px;
  padding-top: 10px;
}

.free-delivery-sign {
  max-height: 36px;
  max-width: 100%;
  color: #767676;
  font-weight: bold;
  font-style: italic;
  padding-left: 10px;
}

.user-account-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

.user-account-link {
  color: #3f7210;
  font-weight: 600;
  text-decoration: none;
}

/* TOP HEADER  */
.top-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr auto auto;
  grid-gap: 10px;
  padding: 30px 0px;
}

.logon-link {
  text-decoration: none;
  color: #565755;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo {
  padding-left: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #3d7906;
  /* color: #585655; */
  /* font-family: Snell Roundhand, cursive; */
}

.svg-logo {
  width: 30px;
}

/* .eat-drink-enjoy {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.subtotal {
  display: grid;
}

.header-svg {
  justify-self: end;
  padding-right: 10px;
}

.basket-svg {
  height: 40px;
  width: 40px;
}

.login-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff6400;
  color: white;
  border: 0;
}

/* .login-div,
.header-svg,
.subtotal,
.nave-li {
  padding-top: 15px;
} */
*/

 /* BOTTOM HEADER  */
 .header-bottom-nav {
  display: grid;
  padding-top: 20px;
}

.nav-ul {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 1fr 0.2fr;
  justify-content: baseline;
  grid-gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
  padding-right: 10px;
  background-color: #00594b;
  /* background-color: #4ea100; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.nave-li-container {
  padding-right: 15px;
}

.nave-li {
  /* font-family: Gill Sans, sans-serif; */
  text-decoration: none;
  /* font-size: 1.2rem; */
  /* color: #51545c; */
  color: #fefffe;
  font-size: 14px;
  font-weight: 700;
}

.nave-li:hover {
  color: #8a807b;
}

.search-input {
  padding: 10px;
  border: 1px solid #e7e0dc;
  border-radius: 5px;
}

.log-out {
  border: 0;
  background-color: #e7dfdc;
  font-weight: 600;
}

.svg-quantity-wrapper {
  position: relative;
}

.sticky-quantity {
  position: absolute;
  top: -2px;
  left: 30px;
  display: block;
  text-align: center;
  background: #f1af82;
  color: black;
  border-radius: 100%;
  min-width: 22px;
  height: 22px;
}
