.menu-wrapper {
  margin: 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5px;
}

.menu-category {
  height: 250px;
  width: 280px;
  display: grid;
  place-items: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu-category:hover {
  transform: scale(1.02);
}

.category-title {
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
}
