.login-page-container {
  padding-top: 75px;
  /* margin-left: 40vh;
  margin-right: 40vh; */
  display: grid;
  justify-items: center;
}
/* .top-login-page {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr;
  justify-items: center;
  margin-bottom: 20px;
} */

.login-page-header {
  font-family: Gill Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
}

.form-wrapper {
  display: grid;
  place-items: center;
}

form.login {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.login-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #ff6400;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.logo-page-h3 {
  font-family: Roboto, sans-serif;
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #080908;
}

.logo-page-sign-up {
  text-decoration: none;
  color: #64a331;
}

.login-textfield {
  width: 300px;
}
